/* @import "tailwindcss";

:root {
  --background: #0b0b0d;
  --foreground: #f5f5f7;
  --background-alt: #050506;
  --background-gray: #1b1b1f;

  --radius-lg: 28px;
}


.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
} 
  
*/
